gymnasium==0.29.1
numpy==1.26.4
torch==2.2.2
torchvision==0.17.2
stable-baselines3==2.3.2
tensorboard==2.16.2
matplotlib==3.8.4
pandas==2.2.2
scipy==1.13.0
airsim==1.8.1
msgpack-rpc-python==0.4
opencv-python==4.9.0.80
pillow==10.3.0
tqdm==4.66.4
pyyaml==6.0.1
rich==13.7.1
plotly==5.22.0
jupyter==1.0.0
ipykernel==6.29.4
